<<<<<<< HEAD
=======
body {
  font-family: sans-serif;
  margin: 0;
}

.colnoticias{
  width: 70%;
}
.colpatro{
  width: 30%;
}


.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header {
  background-color: lightgray;
  width: 100%;
  height: auto;
  margin:0;
  border-bottom-style: double;
  border-bottom-color: black;
}

.header h1 {
  padding-left: 0.5em;
  text-align: left;
}

#header_image {
  width: 8rem;
}

.news-title {
  margin-left: 1em;
  display: block;
}

.subtitle {
  margin-left: 1em;
  display: block;
}

.subtitle * {
  margin-top: -1em;
}

.news-text {
  /* background-color: lightblue; */
  padding: 1em;
  text-align: justify;
  width: 100%;
  height: auto;
}

.news-links {
  color:blue;
  width: auto;
  height: auto;
  float: left;
  /* display: inline-block; */
}

.links-list {
  list-style: none;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.side-banner {
  background-color: red;
  width: 100px;
  height: 100px;
}

.footer {
  background-color: cyan;
  width: 100px;
  height: 100px;
}
>>>>>>> e696a86b478e6e0254cc3bef8b36fad2de112ce5
